.hero-container {
    /* background: url("../public/images/img-home.jpg") center center/cover no-repeat; */
    background: #313131;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.hero-container > h1 {
    color: #fff;
    font-size: 80px;
    margin-top: -150px;
}

.hero-container > p {
    margin-top: 15px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-bottom: 250px;
}
  
.portrait img {
    max-width: 35%;
    min-width: 350px;
    height: auto;
    border-radius: 100%;
    border: 5px solid #fff;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.hero-socials {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.hero-socials i {
    color: #fff;
    scale: 200%;
    margin: 20px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 60px;
        margin-top: -180px;
    }
    .hero-container > p {
        margin-top: 10px;
        color: #fff;
        font-size: 27px;
    }
    img {
        min-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -180px;
    }
    .hero-container > p {
        font-size: 23px;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}